* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90 px;
  padding: 30px 25px;
  background-color: #21222A;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.nav-logo {
  width: 60px;
}

nav >img {
height: 30px;

}
nav > h3 {
  margin-right: auto;
  font-weight: 700;
  font-size: 22px;
}
